body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000019;
}
.load {
  color: green;
  font-size: 3rem;
  font-weight: 900;
}
.error {
  color: red;
  font-size: 2rem;
}
.app {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
